.landing-container {
    background-color: #EFF8F7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.logo {
    margin-bottom: -10px;
}

.title {
    font-size: 2rem;
    margin-bottom: 40px;
}

.register-button,
.login-button {
    width: 35vh;
    padding: 10px;
    margin: 5px 0;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

.register-button {
    background-color: #3AB54A;
    color: #EFF8F7;
    border: 2px solid #3AB54A;
}

.login-button {
    background-color: #EFF8F7;
    color: #3AB54A;
    border: 2px solid #3AB54A;
}
